.HomeBlock2{
    margin-top: 120px;
    section{
        display: grid;
        gap: 20px; 
        margin-top: 20px;
        .modArt{
            background-color: var(--item-color);
        }
        article{
            border-radius: var(--border-items);
            padding: 0 0 0 15px;
            display: flex;
            align-items: center;
            background-color: var(--item-anotherColor);

            img{
                width: 15vw;
                margin-left: auto;
            }
        }
    }
    

    .sec1{
        grid-template-columns: 3.5fr 5fr 3.5fr;
    }
    .sec2{
        grid-template-columns: 4.5fr 3fr 4.5fr;
    }
    .sec3{
        grid-template-columns: 6fr 6fr;
    }
}