header{
    z-index: 999;
    position: fixed;
    
    padding: 0 30px;
    width: 100vw;
    height: 70px;
    background-color: var(--body-color);
    border-radius: var(--border-items);
    display: flex;
    justify-content: space-between;
    
    .leftHalf{
        width: 50vw;

        
    }
    .rightHalf{
        width: 30%;
        display: flex;
        nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        
    }
    .onMobile{
        display: none;
    }
    section{

        nav{
            height: 100%;
            font-size: 14px;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
}
@media (max-width: 1100px) {
    .header{
        background-color: var(--body-color);
        padding: 0;
    }
    .leftHalf{
        display: none;
    }
    .rightHalf{
        display: none !important;
    }
  .onMobile{
        padding: 0 6vw;
        width: 100%;
        display: flex !important;
        justify-content: space-between;

        .dropdownMenu{
            border-radius: var(--border-items);
            font-size: 12px;
            left: -10px;
            padding: 15px 25px;
            width: max-content;
            height: max-content;
            background-color: var(--item-color);
            display: block;
            position: absolute;

            .head{
                width: 260px;
                display: flex;
                justify-content: space-between;
            }
            div{
                background-color: revert;
                display: flex;
                margin-bottom: 20px;
            }
        }
        .burgerMenu{
            align-items: center;
            width: 60px;
            height: 60px;

            div{
                color: var(--body-color);
                margin-top: 15px;
                background-color: #fff;
                width: 100%;
                height: 3px;
            }
        }

    }
}
button{
    margin-top: -3px;
    font-size: 12px;
    padding: 10px 25px;
}