li{
    border-radius: 10px;
    color: black;
    max-width:30%;
    background-color: #fff;

    div{
        padding: 0 15px;
    }

    .head{
        font-size: 24px;
    }
    .address{
        margin-top: 10px;
        color: gray;
    }
}
.met{
    display: flex;
}
.allInf{
    padding-bottom: 20px;
    margin-top: 10px;
    display: flex;
}
.ccost{
    width: 10%;
    display: flex;
    font-size: 14px;
    gap: 10px;
    *{
        padding: 0;
    }
    .sect{

    }
}