.hero {
position: relative;
height: 680px;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 80px;
color: white;
}

.background {
    width: 100%;
position: absolute;
inset: 0;
background: url('../../../../public/team_bg.png') center/cover no-repeat;
opacity: 0.55;
z-index: -1;
}
.title {
font-size: 52px;
font-weight: 700;
max-width: 1000px;
line-height: 1.15;
text-transform: uppercase;
b{
    color: var(--action-color);
}
}
.desc{
    margin-top: 10px;
    max-width: 800px;
}
.blocks {
margin-top: 40px;
display: flex;
gap: 20px;

.bot{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 25px;  

    div {
        padding: 20px 26px;
        margin-top: 10px;
        background-color: #0A1616;
        border-radius: 10px;
        h1{
            color: var(--action-color);
        }
}

}
}
@media (max-width: 1100px) {
    .desc{
        display: none;
    }
    .hero{
        height: 50vh;
        padding: 0 6vw;
    }
    .background{
        height: 50vh;
    }
    .title{
        margin-top: 40px;
        text-align: center;
        font-size: 24px;
    }
    .blocks{
        display: none;
    }

}
h1{
    margin-bottom: 0 !important;
}